{% extends "base.html" %}
{% block analytics %}

{% endblock %}

{% block scripts %}
<!-- Add scripts that need to run before here -->
{{ super() }}
<!-- Add scripts that need to run afterwards here -->
{% endblock %}

{% block libs %}
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
{{ super() }}
{% endblock %}

{% block content %}

{{ super() }}
{% if page.meta.comments %}
<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>
{% endif %}
{% endblock %}